[Unit]
Description=freeDNS
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/path/to/venv/for/freeDNS/bin/python /replace/this/path/to/main.py --your-params

[Install]
WantedBy=multi-user.target
